<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="../assets/libs/bootstrap-3.3.6-dist/css/bootstrap.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
    	<script src="../node_modules/angular-chat/angular-chat.js"></script>
		<script type="text/javascript" src="../app/app.js"></script>
		<script type="text/javascript" src="../app/chat.js"></script>
		<script type="text/javascript" src="../app/controller/ChatController.js"/></script>
		<script type="text/javascript" src="../app/controller/SignInController.js"/></script>
		<!--<meta name="google-signin-scope" content="akaua3269@gmail.com">-->

    	<meta name="google-signin-client_id" content="150680681386-ontmrute0pfnrp8kgtu5811kscepethd.apps.googleusercontent.com">
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


		<title>Pixeon - Desafio Chat</title>
		
	</head>
	
	<body style="padding-top:70px;" ng-app="ChatApp">
		<!--<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">Pixeon <small>Chat</small></a>
				</div>
				<div class="collapse navbar-collapse">
					<div type="button" class="btn btn-default navbar-btn" onclick="signOut()" data-theme="dark">Sign Out</div>
					<!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style=""></div> -->
	<!--			</div>
			</div>				
		</nav>
	-->
		<div class="container" ng-controller="chat">
			
			<!--<div ng-repeat="message in messages">-->
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="list-group">
		  					<a class="list-group-item active" ng-repeat="message in messages">
		    					<h4 class="list-group-item-heading">{{ message.user.name }}</h4>
		    					<p class="list-group-item-text">{{ message.data }}</p>
		  					</a>
						</div>
					</div>
					<div class="col-md-3">
  					    <a href="#" class="list-group-item disabled">
						    <h3>Users</h3>
						</a>
						<div class="list-group" >
							  <a href="#" class="list-group-item" ng-repeat="user in listUsers"> {{ user.name }} </a>
						</div>
					</div>
				</div>
			</div>	
			<!--</div>{{ message.user.name }}:
				{{ message.data }}-->
			<form ng-submit="send()" >
				<div class="panel panel-primary">
  					<div class="panel-heading">
    					<h3 class="panel-title">{{ userName }}</h3>
  					</div>
  					<div class="panel-footer">
  						<div class="input-group">
  							<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2" ng-model="textbox" id="textBox" maxlength="1000">
  							<span class="input-group-addon" id="basic-addon2">{{ givenName }}</span>
						</div>
  						<!--<input ng-model="textbox" id="textBox">-->
  					</div>
				</div>				
			</form>				
		</div>
	</body>
</html>


	